@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
  }
}

@layer base {
  * {
    @apply border-white/10;
  }

  body {
    @apply bg-black text-white antialiased selection:bg-white selection:text-black;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/20 hover:bg-white/40;
  border-radius: 10px;
}